@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 97%;
    --foreground: 0 0% 18%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 18%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 18%;

    --primary: 216 100% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 225 11% 93%;
    --secondary-foreground: 0 0% 18%;

    --muted: 225 11% 93%;
    --muted-foreground: 0 0% 33%;

    --accent: 225 11% 93%;
    --accent-foreground: 0 0% 18%;
    
    --accent-secondary: 14 100% 56%;

    --destructive: 6 68% 55%;
    --destructive-foreground: 210 40% 98%;
    
    --success: 143 56% 55%;

    --border: 240 4% 87%;
    --input: 240 4% 87%;
    --ring: 216 100% 50%;

    --radius: 0.375rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Inter", system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}